---
import BlogPost from "../components/BlogPost.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import type { FrontMatter } from "../scripts/model";
import "../styles/global.css";
const allPosts = await Astro.glob<FrontMatter>("../pages/posts/*.md");
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <BaseLayout pageTitle="Blogs">
      <ul>
        {allPosts.map((post) => <BlogPost post={post} />)}
      </ul>
    </BaseLayout>
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>
